[project "ChromiumOS"]
	# While CrOS has CQ enabled for some release & firmware branches, it is
	# inconsistent & fluid.  So to avoid having to change this everytime a
	# branch is added/removed from CQ coverage, disable for all for now.
	disabledBranchPattern = ^((release|firmware|factory|stabilize)-.*|refs/meta/config)$
	viewURL = https://chromiumos-status.appspot.com/
	statusURL = https://chromiumos-status.appspot.com/current?format=json
	withCredentials = false
	enforceCommitQueue = true
