[codeOwners]
	disabled = false
	fallbackCodeOwners = ALL_USERS
	disabledBranch = ^refs/heads/factory-.*$
	enableCodeOwnerConfigFilesWithFileExtensions = true
	enableStickyApprovals = true
	# We use owners files that only Googlers have access to, so allow
	# non-Googlers to bypass the check when e.g. rebasing.  b/285468101
	canSkipCodeOwnerConfigValidation = true
