[project]
	description = Rights inherited for all Chromium OS Projects
[receive]
	requireChangeId = true
	requireContributorAgreement = false
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	owner = group chrome-infra-team
	owner = group chromiumos-owners
	owner = group mdb/chromeos-build-deputy
	read = group Administrators
	read = group chromeos-committers
	read = group chromeos-service-account
	read = group chromium-git-push
	read = group cros-trybot
	forgeAuthor = group chromeos-bots
	forgeAuthor = group chromeos-committers
	forgeAuthor = group chromium-git-push
	forgeAuthor = group mdb/chromeos-branch-creators
	submit = group chromeos-bots
	submit = group chromeos-committers
	submit = group chromium-git-push
	push = group chrome-infra-team
	push = group chromeos-bots
	push = group chromium-git-push
	push = +force group mdb/chromeos-branch-creators
	label-Trybot-Ready = +0..+1 group chromeos-committers
	labelAs-Commit-Queue = +0..+2 group chromeos-bots
	labelAs-Commit-Queue = +0..+2 group chromium-git-push
	labelAs-Trybot-Ready = +0..+1 group chromeos-bots
	labelAs-Trybot-Ready = +0..+1 group chromium-git-push
	viewDrafts = group chromeos-bots
	viewDrafts = group chromeos-service-account
	viewDrafts = group chromium-git-push
	forgeCommitter = group chromeos-bots
	forgeCommitter = group chromium-git-push
	forgeCommitter = group mdb/chromeos-branch-creators
	pushMerge = group chromeos-bots
	pushMerge = group chromium-git-push
	create = group mdb/chromeos-branch-creators
	label-Code-Review = -2..+2 group chromeos-committer-approvers
	label-Code-Review = -1..+1 group Registered Users
	label-Commit-Queue = +0..+2 group mdb/chromeos-build-deputy
	label-Commit-Queue = +0..+1 group Registered Users
	label-Commit-Queue = +0..+1 group chromeos-committers
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group chromeos-committers
[access "refs/for/refs/*"]
	push = group chromeos-committers
	pushMerge = group chromeos-committers
[access "refs/heads/master"]
	label-Commit-Ready = +0..+1 group Registered Users
[access "refs/heads/toolchainA"]
	create = group chromiumos-toolchain-owners
	forgeCommitter = group chromiumos-toolchain-owners
	push = +force group chromiumos-toolchain-owners
	pushMerge = group chromiumos-toolchain-owners
[access "refs/heads/toolchainB"]
	create = group chromiumos-toolchain-owners
	forgeCommitter = group chromiumos-toolchain-owners
	push = group chromiumos-toolchain-owners
	pushMerge = group chromiumos-toolchain-owners
[access "refs/tryjobs/*"]
	create = group chromeos-committers
	push = group chromeos-committers
	forgeCommitter = group chromeos-committers
[access "refs/sandbox/*"]
	create = group chromeos-committers
	forgeCommitter = group chromeos-committers
	push = +force group Administrators
	push = +force group chromeos-committers
	owner = group Administrators
	forgeAuthor = group chromeos-committers
	pushMerge = group chromeos-committers
[notify "chromium-os-reviews"]
	email = chromium-os-reviews@chromium.org
[notify "chromium-os-checkins"]
	email = chromium-os-checkins@chromium.org
	type = submitted_changes
[access "refs/meta/config"]
	read = group chromeos-bots
	read = group chromium-git-push
[label "Trybot-Ready"]
	function = NoBlock
	value =  0 Not Ready
	value = +1 Ready
	defaultValue = 0
[access "refs/pfq/*"]
	create = group chromeos-bots
	create = group mdb/chromeos-build-deputy
	push = group chromeos-bots
	push = +force group mdb/chromeos-build-deputy
	forgeAuthor = group chromeos-bots
	forgeCommitter = group chromeos-bots
	pushMerge = group chromeos-bots
