[project]
	description = Rights inherited for all Chromium OS Projects
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	owner = group chrome-infra-team
	owner = group chromiumos-owners
	owner = group mdb/chromeos-build-deputy
	read = group Administrators
	read = group chromeos-committers
	read = group chromium-git-push
	read = group cros-trybot
	forgeAuthor = group chromeos-committers
	forgeAuthor = group chromium-git-push
	forgeAuthor = group mdb/chromeos-branch-creators
	submit = group chromeos-committers
	submit = group chromium-git-push
	push = group chrome-infra-team
	push = group chromium-git-push
	push = +force group mdb/chromeos-branch-creators
	label-Trybot-Verified = -1..+3 group Administrators
	labelAs-Commit-Queue = +0..+2 group chromium-git-push
	viewDrafts = group chromium-git-push
	forgeCommitter = group chromium-git-push
	forgeCommitter = group mdb/chromeos-branch-creators
	pushMerge = group chromium-git-push
	create = group mdb/chromeos-branch-creators
[access "refs/for/refs/*"]
	push = group chromeos-committers
	pushMerge = group chromeos-committers
[access "refs/heads/master"]
	label-Commit-Queue = +0..+2 group mdb/chromeos-build-deputy
	label-Commit-Queue = +0..+1 group Registered Users
[access "refs/heads/toolchainA"]
	create = group chromiumos-toolchain-owners
	forgeCommitter = group chromiumos-toolchain-owners
	push = +force group chromiumos-toolchain-owners
	pushMerge = group chromiumos-toolchain-owners
[access "refs/heads/toolchainB"]
	create = group chromiumos-toolchain-owners
	forgeCommitter = group chromiumos-toolchain-owners
	push = group chromiumos-toolchain-owners
	pushMerge = group chromiumos-toolchain-owners
[access "refs/tryjobs/*"]
	create = group chromeos-committers
	push = group chromeos-committers
	forgeCommitter = group chromeos-committers
[access "refs/sandbox/*"]
	create = group chromeos-committers
	forgeCommitter = group chromeos-committers
	push = +force group Administrators
	push = +force group chromeos-committers
	owner = group Administrators
[notify "chromium-os-reviews"]
	email = chromium-os-reviews@chromium.org
[notify "chromium-os-checkins"]
	email = chromium-os-checkins@chromium.org
	type = submitted_changes
[access "refs/meta/config"]
	read = group chromium-git-push
[label "Trybot-Verified"]
	function = NoBlock
	value = -1 Failed
	value =  0 No score
	value = +1 Launching
	value = +2 Waiting
	value = +3 Passed
	defaultValue = 0
