[access]
	inheritFrom = All-Projects
[project]
	description = Rights inherited for all Chromium OS Projects
[receive]
	requireChangeId = true
	requireContributorAgreement = false
[submit]
	action = rebase always
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	owner = group chromeos-build-owners
	owner = group chromiumos-owners
	owner = group mdb/chromeos-build-deputy
	read = group Administrators
	read = group chromeos-committers
	read = group chromeos-service-account
	read = group chromium-git-push
	read = group cros-trybot
	read = group google/chromeos-bt-codereviews@google.com
	forgeAuthor = group chromeos-bots
	forgeAuthor = group chromeos-committers
	forgeAuthor = group chromium-git-push
	submit = group chrome-commit-bot
	submit = group chromeos-bots
	submit = group chromeos-committers
	submit = group chromium-git-push
	push = group chromeos-bots
	push = group chromium-git-push
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
	labelAs-Commit-Queue = +0..+2 group chromeos-bots
	labelAs-Commit-Queue = +0..+2 group chromium-git-push
	viewDrafts = group chromeos-bots
	viewDrafts = group chromeos-service-account
	viewDrafts = group chromium-git-push
	forgeCommitter = group chromeos-bots
	forgeCommitter = group chromium-git-push
	pushMerge = group chromeos-bots
	pushMerge = group chromium-git-push
	label-Code-Review = -2..+2 group chromeos-alumni-approvers
	label-Code-Review = -2..+2 group chromeos-committer-approvers
	label-Code-Review = -1..+1 group Logged-in Public Users
	label-Commit-Queue = +0..+2 group chromeos-bots
	label-Commit-Queue = +0..+2 group chromeos-committers
	label-Commit-Queue = +0..+2 group chromeos-internal-partners
	label-Commit-Queue = +0..+2 group chromiumos-exonerator-bots
	label-Commit-Queue = +0..+2 group cria/project-chromium-committers
	label-Commit-Queue = +0..+2 group mdb/jetstream-chromeos-full-committers
	label-Commit-Queue = +0..+2 group v8-committers
	label-Commit-Queue = +0..+1 group Logged-in Public Users
	label-Legacy-Commit-Queue = +0..+1 group chrome-commit-bot
	label-Verified = -1..+1 group Logged-in Public Users
	label-Verified = -1..+1 group chromeos-committers
	label-Verified = -1..+1 group mdb/kokoro
	label-Verified = -1..+1 group mdb/kokoro-dedicated
	label-Auto-Submit = +0..+1 group Change Owner
	label-Bot-Commit = +0..+1 group chromeos-bots
	abandon = group chromeos-committer-approvers
	viewPrivateChanges = group chromeos-bots
	viewPrivateChanges = group chromeos-build-owners
	editTopicName = group chromeos-committers
	editHashtags = group chromeos-committers
	editAssignee = group chromeos-committers
	labelAs-Legacy-Commit-Queue = +0..+1 group chromeos-ci-eng
	deleteChanges = group mdb/chromeos-leak-stoppers
	removeReviewer = group chromeos-committer-approvers
	label-Owners-Override = +0..+1 group owners-override-chromeos
[access "refs/for/refs/*"]
	push = group chromeos-committers
	pushMerge = group chromeos-bots
[access "refs/tryjobs/*"]
	delete = group chromeos-committers
[access "refs/sandbox/*"]
	create = group chromeos-gerrit-sandbox-access
	forgeCommitter = group chromeos-gerrit-sandbox-access
	push = +force group chromeos-gerrit-sandbox-access
	owner = group Administrators
	forgeAuthor = group chromeos-gerrit-sandbox-access
	pushMerge = group chromeos-gerrit-sandbox-access
	forgeServerAsCommitter = group chromeos-gerrit-sandbox-access
[access "refs/meta/config"]
	read = group chromeos-bots
	read = group chromium-git-push
	read = group cria/google/googlers@chromium.org
	read = group ldap/eng
[label "Auto-Submit"]
	function = NoBlock
	defaultValue = 0
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = 0 Do not send CL to CQ automatically after approval
	value = +1 Send CL to CQ automatically after approval
[label "Trybot-Ready"]
	function = MaxWithBlock
	defaultValue = 0
[label "Legacy-Commit-Queue"]
	value = 0 Default
	value = +1 Use Legacy CQ
	defaultValue = 0
	function = NoBlock
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Feels"]
	function = MaxWithBlock
	abbreviation = R
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = -2 (╯°□°)╯︵ ┻━┻ pɐq ɟǝp
	value = -1 Feels wrong to me
	value = 0 🤷
	value = +1 Seems OK
	value = +2 Feels right to me
	defaultValue = 0
	copyMaxScore = true
[label "Code-Review"]
	function = MaxWithBlock
	abbreviation = R
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
	copyMaxScore = true
[label "Branch-Review"]
	id = BR
	function = MaxWithBlock
	copyAllScoresIfNoCodeChange = true
	copyAllScoresOnTrivialRebase = true
	copyMinScore = true
	value = -1 Do not submit
	value = 0 No score
	value = +1 Approved
	defaultValue = 0
	branch = refs/heads/*
	copyMaxScore = true
[label "Bot-Commit"]
	function = MaxWithBlock
	abbreviation = BC
	value = 0
	value = +1 Bot Approved
	defaultValue = 0
[access "refs/pfq/*"]
	create = group chromeos-bots
	create = group mdb/chromeos-build-deputy
	push = group chromeos-bots
	push = +force group mdb/chromeos-build-deputy
	forgeAuthor = group chromeos-bots
	forgeCommitter = group chromeos-bots
	pushMerge = group chromeos-bots
[access "^refs/heads/toolchain[AB]"]
	create = group chromiumos-toolchain-owners
	forgeCommitter = group chromiumos-toolchain-owners
	push = +force group chromiumos-toolchain-owners
	pushMerge = group chromiumos-toolchain-owners
[access "^refs/heads/((factory|firmware|stabilize)-([a-zA-Z0-9.]+-)*|release-R[0-9]+-)([0-9]+\\.)+B(-[a-z0-9_.-]+)?$"]
	create = group chromeos-ci-release-bot
	create = group mdb/chromeos-branch-creators
	push = +force group chromeos-ci-release-bot
	push = +force group mdb/chromeos-branch-creators
	submit = group chromeos-ci-release-bot
[access "^refs/heads/factory-(gale|mistral)-.*"]
	label-Code-Review = -2..+2 group jetstream-committers
[access "refs/for/*"]
	addPatchSet = group Logged-in Public Users
	addPatchSet = group chromeos-committer-approvers
	addPatchSet = group chromeos-committers
[access "refs/gsubtreed-config/*"]
	push = group mdb/chrome-git-admins
[access "refs/remotes/*"]
	exclusiveGroupPermissions = create push
[access "^refs/heads/staging-infra-.+$"]
	create = group chromeos-staging-bot
	create = group mdb/chromeos-ci-oncalls
	push = group chromeos-staging-bot
	push = group mdb/chromeos-ci-oncalls
	pushMerge = group chromeos-staging-bot
	pushMerge = group mdb/chromeos-ci-oncalls
[access "refs/staging-infra/*"]
	create = group chromeos-staging-bot
	create = group mdb/chromeos-ci-oncalls
	delete = group chromeos-staging-bot
	delete = group mdb/chromeos-ci-oncalls
	push = group chromeos-staging-bot
	push = group mdb/chromeos-ci-oncalls
	pushMerge = group chromeos-staging-bot
	pushMerge = group mdb/chromeos-ci-oncalls
	forgeAuthor = group chromeos-staging-bot
	forgeAuthor = group mdb/chromeos-ci-oncalls
	forgeCommitter = group chromeos-staging-bot
	forgeCommitter = group mdb/chromeos-ci-oncalls
	forgeServerAsCommitter = group chromeos-staging-bot
	forgeServerAsCommitter = group mdb/chromeos-ci-oncalls
[access "refs/for/refs/staging-infra/*"]
	pushMerge = group chromeos-staging-bot
	pushMerge = group mdb/chromeos-ci-oncalls
[access "^refs/for/refs/heads/staging-infra-.+$"]
	create = group chromeos-staging-bot
	create = group mdb/chromeos-ci-oncalls
	delete = group chromeos-staging-bot
	delete = group mdb/chromeos-ci-oncalls
	forgeCommitter = group chromeos-staging-bot
	forgeCommitter = group mdb/chromeos-ci-oncalls
	forgeServerAsCommitter = group chromeos-staging-bot
	forgeServerAsCommitter = group mdb/chromeos-ci-oncalls
	push = group chromeos-staging-bot
	push = group mdb/chromeos-ci-oncalls
	pushMerge = group chromeos-staging-bot
	pushMerge = group mdb/chromeos-ci-oncalls
[plugin "find-owners"]
	rejectErrorInOwners = true
